/*
________________________________________
color    : light   | dark  | background
________________________________________
magentas : ff0033 | 9d0020 | 9d0020
reds     : ff3300 | aa2200 | 9d0020
blues    : 00bbff | 006688 | 9d0020
greens   : 029b62 | 016942 | 9d0020
woods	 : ff6600 | c2bf4e aad028| 342921 
jungle   : ff7049 | eec05e | 342921 
________________________________________
*/

.root {
	-fx-accent: rgba(255, 207, 105, 0.5);
/* 	-fx-background-color: #343838; */;
/* 	-fx-background-color: #47362e; */
	-fx-background-color: #342921;
	-fx-border-color: #aad028;
	-fx-border-width: 3px;
	-fx-spacing: 20;
}

.layout {
	-fx-font-size: 20;
	-fx-padding: 20;
	-fx-alignment: center;
}

.pagination {
	-fx-border-width:0;
	-fx-page-information-visible: false;
}

.pagination .control-box {
	-fx-spacing: 2;
}

.label {
	/*-fx-text-fill:white;
    -fx-font: bold 25pt "Arial";
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 6, 0, 0, 5);
    -fx-text-alignment:center;
    */
	-fx-font-size: 25pt;
	-fx-text-fill: #3a3a3a;
	-fx-effect: dropshadow(three-pass-box, rgba(251, 46, 1, 0.8), 0, 0, 1.5,
		1.5);
}

.button {
	-fx-padding: 8;
	-fx-background-color: #aad028;
	-fx-background-radius:0;
	-fx-font-weight: bold;
	-fx-font-size: 1.1em;
	-fx-text-alignment: center;
}

.button .text {
	-fx-font-family: 'Arial';
	-fx-fill: white;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 5, 0, 0, 2);
}

.button:hover {
	-fx-cursor: hand;
	-fx-text-fill: #343838;
/* 	-fx-background-color: #F7E4BE; */
	-fx-background-color: #eec05e;
}

.button:hover .text{
	-fx-fill: #333333;
	-fx-effect: none;
}

.nav{
	-fx-background-color:#eec05e;
	-fx-font-size: 1.2em;
}

.nav .text{
	-fx-fill: #342921;
	-fx-effect:none;
}

.nav:hover{
	-fx-background-color:#aad028;
}

.nav:hover .text{
/* 	-fx-fill:#342921; */
}

.removeEntry{
	-fx-background-color:#ff3300;
}

.removeEntry:hover{
	-fx-background-color:#000000;
}
.removeEntry:hover .text{
	-fx-fill:#ffffff;
}

#hide{
/* 	-fx-background-color:#c70000; */
	-fx-pref-width:26;
}

#hide .text{
/* 	-fx-fill:#ffffff; */
/* 	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 5, 0, 0, 2); */
}

#hide:hover{
/* 	-fx-background-color:#000000; */
}

